//ADAPTACIÓN CONTACTA vESCRITORIO

@media screen and (min-width: 1025px){
    .main_contacta{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 0;
        .img{
            width: 80%; 
            height: 100%;
            background-size: cover; 
            background-position: top; 
        }
        .img_contacta{
            display: flex;
            background-image: url('../../assets/img/fotoContacta.jpg');
        }
        .form_contacta{
            padding: 7% 28.5% 7% 10%;
            .form > *{
                margin: 3% 4%;
            }
            .button{
                margin: 1% 37%;
            }
        }
    }
}