@use '_reset';
@use '_mixins' as mixin;

$white: white;
$black: black;
$inky: #333; //- complementary black color
$darkredbrown: #863131; //- main background
$mistyrose: mistyrose; //- button's hovers backgrounds 
$whitesmoke: whitesmoke; //- opinion's frames backgrounds

/*DISEÑO GENERAL*/
html{
    scrollbar-width: none;
}
h2{
    font-family: var(--tipo-secundaria);
    font-size: 1.65em;
    font-weight: bolder;
    color: $darkredbrown;
}
h3{
    font-weight: bold;
    color: $inky;
    font-size: 1.4em;
    padding: 0px 50px 0px 50px;
}
p{
    font-size: 1.3em;
    padding: 0px 25px 0px 25px;  
}
.button{
    display: none;
    cursor: pointer;
    @include mixin.media(){
        display: block;
    }
}
.header{ 
    width: 100%;
    background-color: $darkredbrown;
    padding: 1em;
    color: $white;
    position: absolute;

    @include mixin.flex(row, wrap, space-between, center);
    .h1{
        margin: 0.1em 0 0.1em 0;
        font-family: var(--tipo-secundaria);
        font-size: 1.85em;
    }
    .svg{
        margin: 0.1em 0em 0.1em 0;
        width: 2.1em;
        height: 2.1em;
        fill: $white;
    }
    .nav{
        @include mixin.media(){
            width: 100%;
            opacity: 0;
            height: 0vh;
            pointer-events: none;
            overflow: hidden;
            transition: all .5s ease;
            @include mixin.flex(column, nowrap, center, center);
        &.active{
            opacity: 1;
            height: 45vh;
            pointer-events: auto
        }
        }
    }
    .ul{
        @include mixin.flex(row, wrap, flex-end, center);

        @include mixin.media(){
            flex-direction: column;
        }
    }
    .li{
        font-family: var(--tipo-secundaria);
        font-size: 1.5em;
        margin: 0 .7em;
        @include mixin.media(){
            margin: 1em 0;
        }
    }.li:hover{
        color: $mistyrose;
        text-decoration: underline 0.1em $inky;
        transition: all .5s ease; 
    }
}

.main{
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    background-color: $whitesmoke;
    .img_main{
        background-image: url(../assets/img/mainLawyer.jpg);
        width: 100%; 
        height: 385px; 
        background-size: cover; 
        background-position: center; 
        margin-bottom: 10px;
    }
    .portada{
        display: flex;
        flex-direction: column;
        align-items: center;
        .txt_portada{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 20px 25px 30px 25px;
        }    
        .txt_portada > *{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
        }
        .btn_portada{
            display: flex;
            text-align: center;
            justify-content: center;
            font-size: 1.3em;
            border: $darkredbrown solid 0.1em;
            border-radius: 5.5px;
            margin-top: 0px;
            padding: 9px;
            background-color: $darkredbrown;
            color: $white;
        }.btn_portada:hover{
            border: $inky solid 0.1em;
            background-color: slategrey;
        }
    }
    
    .sec{
        display: flex;
        flex-direction: column;
        align-items: center;
        .img{
            width: 100%; 
            height: 250px; 
            background-size: cover; 
            background-position: center; 
            margin-bottom: 10px;
        }
        .img:hover{
            opacity: 0.4;
            cursor: pointer;
        }
        .img_civil{
            background-image: url(../assets/img/sec1.jpeg);
        }
        .img_laboral{
            background-image: url(../assets/img/sec2.jpg);
        }
        .img_penal{
            background-image: url(../assets/img/sec3.jpg);
        }
        .txt_sec{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 20px 30px 30px 30px;
        }
    }
}
.footer{
    background-color: $inky;
    width: 100%;
    height: 300px;
    color: white;
    padding: 1em;
}



   