@charset "UTF-8";
/* Reseteamos los estilos por defecto */
:root {
  --color-primario: #f0f0f0;
  --color-secundario: #181818;
  --tipo-principal: "Maven Pro", sans-serif;
  --tipo-secundaria: "Marcellus SC", serif;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /*opcional*/
  -o-object-fit: cover;
     object-fit: cover;
  /*opcional*/
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

ul, ol, dl {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  line-height: 1.4em;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

form, input, button, textarea, select, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /*appearance:none;*/
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  background-color: var(--color-primario);
  color: var(--color-secundario);
  /*opcional*/
  line-height: 1.4em;
  /*opcional*/
  /*opcional*/
  font-smooth: always;
  /*opcional*/
  --webkit-font-smoothing: antialiased;
  /*opcional*/
  -moz-osx-font-smoothing: grayscale;
}

/*DISEÑO GENERAL*/
html {
  scrollbar-width: none;
}

h2 {
  font-family: var(--tipo-secundaria);
  font-size: 1.65em;
  font-weight: bolder;
  color: #863131;
}

h3 {
  font-weight: bold;
  color: #333;
  font-size: 1.4em;
  padding: 0px 50px 0px 50px;
}

p {
  font-size: 1.3em;
  padding: 0px 25px 0px 25px;
}

.button {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 1025px) {
  .button {
    display: block;
  }
}

.header {
  width: 100%;
  z-index: 1000;
  background-color: #863131;
  padding: 1em;
  color: white;
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .h1 {
  margin: 0.1em 0 0.1em 0;
  font-family: var(--tipo-secundaria);
  font-size: 1.85em;
}
.header .svg {
  margin: 0.1em 0em 0.1em 0;
  width: 2.1em;
  height: 2.1em;
  fill: white;
}
@media screen and (max-width: 1025px) {
  .header .nav {
    width: 100%;
    opacity: 0;
    height: 0vh;
    pointer-events: none;
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .header .nav.active {
    opacity: 1;
    height: 38vh;
    pointer-events: auto;
  }
}
.header .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 1025px) {
  .header .ul {
    flex-direction: column;
  }
}
.header .li {
  font-family: var(--tipo-secundaria);
  font-size: 1.5em;
  margin: 0 0.6em;
}
@media screen and (max-width: 1025px) {
  .header .li {
    margin: 0.8em 0;
  }
}
.header .li:hover {
  color: mistyrose;
  -webkit-text-decoration: underline 0.1em #333;
          text-decoration: underline 0.1em #333;
  transition: all 0.5s ease;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: whitesmoke;
  padding-top: 16%;
}
.main .img_main {
  background-image: url(../assets/img/mainLawyer.jpg);
  width: 100%;
  height: 20em;
  background-size: cover;
  background-position: center;
}
.main .portada .txt_portada {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 7% 8% 8%;
}
.main .portada .txt_portada > * {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 7%;
}
.main .portada .btn_portada {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.3em;
  border: #863131 solid 0.1em;
  border-radius: 5.5px;
  margin-top: 0;
  padding: 9px;
  background-color: #863131;
  color: white;
}
.main .portada .btn_portada:hover {
  border: #333 solid 0.1em;
  background-color: slategrey;
}
.main .sec {
  text-align: center;
}
.main .sec .img {
  width: 100%;
  height: 20em;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.main .sec .img:hover {
  opacity: 0.4;
  cursor: pointer;
}
.main .sec .img_main2 {
  background-image: url(../assets/img/main4.jpg);
}
.main .sec .txt_sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 7% 8% 8%;
}
.main .h3opinion, .main .h3mapa {
  font-family: var(--tipo-secundaria);
  display: flex;
  justify-content: center;
  color: #863131;
}
.main .secOpiniones {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 2rem;
}
.main .secOpiniones .opiniones {
  display: grid;
  grid-template-columns: 6.5em 1fr;
  margin: 0 4%;
  padding: 4% 4% 5% 4%;
}
.main .secOpiniones .opiniones .img_opinion {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 3%;
}
.main .secOpiniones .opiniones .img_opinion:hover {
  opacity: 0.4;
  cursor: pointer;
}
.main .secOpiniones .opiniones .img_opinion1 {
  background-image: url(../assets/img/p1.jpg);
}
.main .secOpiniones .opiniones .img_opinion2 {
  background-image: url(../assets/img/p2.jpg);
}
.main .secOpiniones .opiniones .img_opinion3 {
  background-image: url(../assets/img/p3.jpg);
}
.main .secOpiniones .opiniones .img_opinion4 {
  background-image: url(../assets/img/p4.jpg);
}
.main .secOpiniones .opiniones .txt_opinion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 0.75em;
  padding-top: 0.5rem;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  background-color: white;
}
.main .secOpiniones .opiniones .txt_opinion > p {
  padding: 0 10% 0;
}
.main .secOpiniones .opiniones .txt_opinion > p:is(:last-child) {
  color: #863131;
  display: flex;
  padding-right: 12%;
  justify-content: center;
}
.main .secMapa > iframe {
  height: 20rem;
  padding: 1rem 1rem;
}

.main_bufete {
  display: grid;
  grid-template-columns: 1fr;
  background-color: whitesmoke;
  padding-top: 16%;
}
.main_bufete .sec2 {
  text-align: center;
}
.main_bufete .sec2 .img {
  width: 100%;
  height: 27em;
  background-size: cover;
  background-position: top;
  margin-bottom: 10px;
}
.main_bufete .sec2 .img_bufete:hover {
  opacity: 0.4;
  cursor: pointer;
}
.main_bufete .sec2 .img_bufete1 {
  background-image: url(../assets/img/abogado1.jpg);
}
.main_bufete .sec2 .img_bufete2 {
  background-image: url(../assets/img/abogado2.jpg);
}
.main_bufete .sec2 .img_bufete3 {
  background-image: url(../assets/img/main2Lawyer.jpg);
}
.main_bufete .sec2 .txt_sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 7% 8% 8%;
}

.main_servicios {
  display: grid;
  grid-template-columns: 1fr;
  background-color: whitesmoke;
  padding-top: 16%;
}
.main_servicios .sec4 {
  text-align: center;
}
.main_servicios .sec4 .img {
  width: 100%;
  height: 20em;
  background-size: cover;
  background-position: top;
}
.main_servicios .sec4 .img_servicios:hover {
  opacity: 0.4;
  cursor: pointer;
}
.main_servicios .sec4 .img_servicios1 {
  background-image: url(../assets/img/sec1.jpg);
}
.main_servicios .sec4 .img_servicios2 {
  background-image: url(../assets/img/sec2.jpg);
}
.main_servicios .sec4 .img_servicios3 {
  background-image: url(../assets/img/sec3alternative.jpg);
}
.main_servicios .sec4 .img_servicios4 {
  background-image: url(../assets/img/WSLawyer.jpg);
}
.main_servicios .sec4 .img_servicios5 {
  background-image: url(../assets/img/atencion2.jpg);
}
.main_servicios .sec4 .img_servicios6 {
  background-image: url(../assets/img/atencion.jpg);
}
.main_servicios .sec4 .txt_sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 7% 8% 8%;
}

.main_servicios {
  display: grid;
  grid-template-columns: 1fr;
  background-color: whitesmoke;
  padding-top: 16%;
}
.main_servicios .sec4 {
  text-align: center;
}
.main_servicios .sec4 .img {
  width: 100%;
  height: 20em;
  background-size: cover;
  background-position: top;
}
.main_servicios .sec4 .img_servicios:hover {
  opacity: 0.4;
  cursor: pointer;
}
.main_servicios .sec4 .img_servicios1 {
  background-image: url(../assets/img/sec1.jpg);
}
.main_servicios .sec4 .img_servicios2 {
  background-image: url(../assets/img/sec2.jpg);
}
.main_servicios .sec4 .img_servicios3 {
  background-image: url(../assets/img/sec3alternative.jpg);
}
.main_servicios .sec4 .img_servicios4 {
  background-image: url(../assets/img/WSLawyer.jpg);
}
.main_servicios .sec4 .img_servicios5 {
  background-image: url(../assets/img/atencion2.jpg);
}
.main_servicios .sec4 .img_servicios6 {
  background-image: url(../assets/img/atencion.jpg);
}
.main_servicios .sec4 .txt_sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 7% 8% 8%;
}

.whatsappIco > img {
  position: fixed;
  opacity: 79%;
  width: 13%;
  bottom: 27%;
  right: 1.5%;
}

.whatsappIcon:hover {
  opacity: 100%;
  transition: all 0.25s linear;
  cursor: pointer;
}

.footer {
  background-color: #333;
  width: 100%;
  color: #ffffff;
  padding: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.footer .footerInfo {
  display: flex;
  flex-direction: row;
  font-size: medium;
  text-align: center;
  justify-content: center;
  text-align: left;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}
.footer .footerInfo .info > div {
  padding-bottom: 1rem;
}
.footer .footerInfo .info > div > div {
  color: mistyrose;
}
.footer .footerInfo .redes {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: right;
  width: 20%;
  padding-top: 2rem;
}
.footer .footerInfo .redes > a {
  padding-bottom: 2rem;
  aspect-ratio: 1/1;
  width: 50%;
  height: auto 0;
}
.footer .footerInfo .redes > a > svg:hover {
  cursor: pointer;
  color: mistyrose;
  transition: background-color 0.4s linear;
}
.footer .footerInfo .redes > a > svg {
  color: white;
}
.footer .infoHorario {
  padding: 1rem;
  border-top: mistyrose solid 0.1em;
  border-bottom: mistyrose solid 0.1em;
  font-size: normal;
  letter-spacing: 0.1rem;
}
.footer td {
  padding: 0 1rem;
}
.footer td:is(:nth-child(1)) {
  color: mistyrose;
}
.footer .imgLogoFooter {
  padding-top: 1.75rem;
}
.footer .copyright {
  padding-top: 1rem;
  color: mistyrose;
  font-size: small;
  line-height: 0.75rem;
}/*# sourceMappingURL=style.css.map */