@use '_reset';
@use '_mixins' as mixin;


$white: white;
$black: black;
$inky: #333; //- complementary black color
$darkredbrown: #863131; //- main background
$mistyrose: mistyrose; //- button's hovers backgrounds 
$whitesmoke: whitesmoke; //- opinion's frames backgrounds

/*DISEÑO GENERAL*/
html{
    scrollbar-width: none;
}
h2{
    font-family: var(--tipo-secundaria);
    font-size: 1.65em;
    font-weight: bolder;
    color: $darkredbrown;
}
h3{
    font-weight: bold;
    color: $inky;
    font-size: 1.4em;
    padding: 0px 50px 0px 50px;
}
p{
    font-size: 1.3em;
    padding: 0px 25px 0px 25px;  
}
.button{
    display: none;
    cursor: pointer;
    @include mixin.media(){
        display: block;
    }
}

//GLOBAL HEADER
.header{ 
    width: 100%;
    z-index: 1000;
    background-color: $darkredbrown;
    padding: 1em;
    color: $white;
    position: fixed;

    @include mixin.flex(row, wrap, space-between, center);
    .h1{
        margin: 0.1em 0 0.1em 0;
        font-family: var(--tipo-secundaria);
        font-size: 1.85em;

    }
    .svg{
        margin: 0.1em 0em 0.1em 0;
        width: 2.1em;
        height: 2.1em;
        fill: $white;
    }
    .nav{
        @include mixin.media(){
            width: 100%;
            opacity: 0;
            height: 0vh;
            pointer-events: none;
            overflow: hidden;
            transition: all .5s ease;
            @include mixin.flex(column, nowrap, center, center);
        &.active{
            opacity: 1;
            height: 38vh;
            pointer-events: auto
        }
        }
    }
    .ul{
        @include mixin.flex(row, wrap, flex-end, center);

        @include mixin.media(){
            flex-direction: column;
        }
    }
    .li{
        font-family: var(--tipo-secundaria);
        font-size: 1.5em;
        margin: 0 .6em;
        @include mixin.media(){
            margin: 0.8em 0;
        }
    }.li:hover{
        color: $mistyrose;
        text-decoration: underline 0.1em $inky;
        transition: all .5s ease; 
    }
}

//MAIN PAGE INDEX
.main{
    display: grid;
    grid-template-columns: 1fr;
    background-color: $whitesmoke;
    padding-top: 16%;
    .img_main{
        background-image: url(../assets/img/mainLawyer.jpg);
        width: 100%; 
        height: 20em; 
        background-size: cover; 
        background-position: center; 
    }
    .portada{
        .txt_portada{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 7% 8% 8%;
        }    
        .txt_portada > *{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 7%;
        }
        .btn_portada{
            display: flex;
            text-align: center;
            justify-content: center;
            font-size: 1.3em;
            border: $darkredbrown solid 0.1em;
            border-radius: 5.5px;
            margin-top: 0;
            padding: 9px;
            background-color: $darkredbrown;
            color: $white;
        }.btn_portada:hover{
            border: $inky solid 0.1em;
            background-color: slategrey;
        }
    }
    
    .sec{
        text-align: center;
        .img{
            width: 100%; 
            height: 20em; 
            background-size: cover; 
            background-position: center; 
            margin-bottom: 10px;
        }
        .img:hover{
            opacity: 0.4;
            cursor: pointer;
        }
        .img_main2{
            background-image: url(../assets/img/main4.jpg);
        }
        .txt_sec{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 7% 8% 8%;
        }  
    }

    .h3opinion, .h3mapa{
        font-family: var(--tipo-secundaria);
        display: flex;
        justify-content: center;
        color: $darkredbrown;
    }

    .secOpiniones{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 2rem;
        .opiniones{
            display: grid;
            grid-template-columns: 6.5em 1fr;
            margin: 0 4%;
            padding: 4% 4% 5% 4%;      
            .img_opinion{
                width: 100%; 
                height: 100%;
                background-size: cover; 
                background-position: center; 
                border-radius: 3%;
            }
            .img_opinion:hover{
                opacity: 0.4;
                cursor: pointer;
            }
            .img_opinion1{
                background-image: url(../assets/img/p1.jpg);
            }
            .img_opinion2{
                background-image: url(../assets/img/p2.jpg);
            }
            .img_opinion3{
                background-image: url(../assets/img/p3.jpg);
            }
            .img_opinion4{
                background-image: url(../assets/img/p4.jpg);
            }
            .txt_opinion{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;
                font-size: 0.75em;
                padding-top: 0.5rem;
                border-top-right-radius: 3%;
                border-bottom-right-radius: 3%;
                background-color: $white;  
            }
            .txt_opinion > p{
                padding: 0 10% 0;
            }
            .txt_opinion > p:is(:last-child){
                color: $darkredbrown;
                display: flex;
                padding-right: 12%;
                justify-content: center;
            }
            .txt_opinion:hover{
                background-color: $mistyrose;
            }
        }
    }
    .secMapa > iframe{
        height: 20rem;
        padding: 1rem 1rem;
 
    }
}

//WHATSAPP
.whatsappIco > img{
    position: fixed;
    opacity: 79%;
    width: 13%;
    bottom: 27%; 
    right: 1.5%; 
}
.whatsappIcon:hover{
         opacity: 100%;
         transition: all 0.25s linear;
         cursor: pointer;
}

//GLOBAL FOOTER
.footer{
    background-color: $inky;
    width: 100%;
    color: #ffffff;
    padding: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    .footerInfo{
        display: flex;
        flex-direction: row;
        font-size: medium;
        text-align: center;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 1rem;
        .info > div{
            padding-bottom: 1rem;
        }
        .info > div > div{
            color: $mistyrose;
        }
        .redes{
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: right;
            width: 20%;
        }
        .redes > a{
            padding-bottom: 2rem;
            aspect-ratio: 1/1;
            width: 50%;
            height: auto 0;
        }
        .redes > a > svg:hover{
            cursor: pointer;
            color: $mistyrose;
            transition: background-color 0.4s linear;
        }
        .redes > a > svg{
            color: white;
        }
    }
    .infoHorario{
        padding: 1rem;
        border-top: $mistyrose solid 0.1em;
        border-bottom: $mistyrose solid 0.1em;
        font-size: normal;
        letter-spacing: 0.1rem;
    }
    td{
        padding: 0 1rem;
    }
    td:is(:nth-child(1)){
        color: $mistyrose;
    }

    .imgLogoFooter{
        padding-top: 1.75rem;
    }
    .copyright{
        padding-top: 1rem;
        color: $mistyrose;
        font-size: small;
        line-height: 0.75rem;
    }
}

@import "./tablet/styleTablet";
@import "./desktop/styleDesktop";

//MAIN PAGE BUFETE
@import "./mobile/bufete";
@import "./tablet/bufeteTablet";
@import "./desktop/bufeteDesktop";

//MAIN PAGE SERVICIOS
@import "./mobile/servicios";
@import "./tablet/serviciosTablet";
@import "./desktop/serviciosDesktop";
//MAIN PAGE CONTACTA
@import "./mobile/contacta";
@import "./tablet/contactaTablet";
@import "./desktop/contactaDesktop";