@media screen and (min-width: 500px) and (max-width: 1025px){
    .main_bufete{
        padding-top: 15%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .sec2{
            padding: 0 10%;
            .img{
                height: 27rem;
                border-radius: 2%;

            }
        }
    }
}
