@media screen and (min-width: 500px) and (max-width: 1025px){
    .main_servicios{
        padding-top: 15%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .sec4{
            padding: 0 10%;
            .img{
                height: 24rem;
                border-radius: 2%;
            }
        }

    }
}