//ADAPTACIÓN INDEX vTABLET

@media screen and (min-width: 500px) and (max-width: 1025px){
    .main{
        padding-top: 5%;
        .div_main{
            .img_main{
                background-image: url(../assets/img/mainLawyer.jpg);
                height: 30em;  
            }
        }
        .sec{
            .img{
                height: 30em; 
                margin-bottom: 10px;
            }
        }
        .secOpiniones{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            margin-bottom: 2rem;
            .opiniones{
                display: grid;
                grid-template-columns: 7em 1fr;
            }
        }
        .secMapa > iframe{
            height: 35rem;
            padding: 1rem 2rem;
        }
    }
    

    .whatsappIco > img{
        width: 10%;
    }


    .footer{
        .footerInfo{
            font-size: large;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0; 
            .redes{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 20%;
                padding-top: 0;
                padding-bottom: 1rem;
            }
            .redes > a{
                padding-bottom: 0;
                padding-right: 1rem;
                margin: 0 auto;
            }
            .redes > a > svg:is(:first-child){
                padding-top: 1rem;
            }
        }
        
    } 
    
}
   